html, body, #screen{
  height:100%;
  width:100%;
  background:#233423;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

#player{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #dbeaf5;
}
